<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Arena Code{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
</head>
<body>
    <header>
        <a href="\">Arena Code</a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>