
{% extends "base.html" %}

{% block content %}
    <style>
        /* Remove o sublinhado dos links */
        a {
            text-decoration: none;
        }
        /* Adiciona sublinhado somente ao passar o mouse */
        a:hover {
            text-decoration: underline;
        }
    </style>
<div class=" my-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="#">
         <i class="bi bi-house-door"></i>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Topic Details
      </li>
        <li class="breadcrumb-item active" aria-current="page">
        Submit Code
      </li>
    </ol>
  </nav>
</div>




 <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Condicionais</th>
                    <th scope="col">Questões</th>
                    <th scope="col">Dificuldade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/if-simples">Condicional Simples</a></td>
                    <td>54</td>
                    <td>Fácil</td>
                </tr>
                <tr>
                    <td><a href="/topico2">Condicional Composto</a></td>
                    <td>35</td>
                    <td>Média</td>
                </tr>
                <tr>
                    <td><a href="/topico3">Condicional Try/Execpt</a></td>
                    <td>58</td>
                    <td>Difícil</td>
                </tr>
            </tbody>
        </table>




{% endblock %}

