
{% extends "base.html" %}

{% block content %}

<div class=" my-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="#">
         <i class="bi bi-house-door"></i>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Topic Details
      </li>
        <li class="breadcrumb-item active" aria-current="page">
        Submit Code
      </li>
    </ol>
  </nav>
</div>



<h4 class="py-3">
  Topics.
  <small class="text-body-secondary">Select one of the categories of problems to begin solving</small>
</h4>

<div class="card">
  <div class="card-body">
    <div class="py-3">
    <h5 class="card-title">Beginner</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Basic Problems for anyone who has just started to program...</h6>
    </div>

    <div class="row ">

      <div class="col">

        <a href="#" class="problem-link">
          <div class="problem-level">Input/Output</div>
          <div class="problem-description">Basic problems for anyone who has just started to program...</div>
          <div class="problem-count">14 PROBLEMS - 58 VARIATIONS </div>
        </a>

      </div>

      <div class="col">

        <a href="{% url 'topic' 'conditional' %}" class="problem-link">
          <div class="problem-level">Conditionals</div>
          <div class="problem-description">Make different decisions based on certain conditions...</div>
          <div class="problem-count">4 PROBLEMS - 36 VARIATIONS </div>
        </a>

      </div>



    </div>
    <div class="row py-4">

      <div class="col">

        <a href="#" class="problem-link">
          <div class="problem-level">Foor Loops</div>
          <div class="problem-description">Foor loops just started to program...</div>
          <div class="problem-count">4 PROBLEMS - 8 VARIATIONS </div>
        </a>

      </div>

      <div class="col">

        <a href="#" class="problem-link">
          <div class="problem-level">Fuctions</div>
          <div class="problem-description"> fuctions decisions based on certain conditions...</div>
          <div class="problem-count">4 PROBLEMS - 36 VARIATIONS </div>
        </a>

      </div>



    </div>





  </div>
</div>


<a href="">Input/Output</a><br>
<a href="{% url 'topic' 'conditional' %}">Conditionals</a><br>
<a href="#">For Loops</a><br>




{% endblock %}

