{% extends "base.html" %}

{% block content %}

<h3> Topic : {{topic}} </h3>
<nav>
    <ol>
        <li><a href="/">home</a> </li>
        <li><a href="/{{topic}}">{{topic}}</a></li>
        <li>topic detail</li>
        <li>submit code</li>
    </ol>
</nav>

<h3> Lists Questions :  </h3>

<table border="1">
    <thead>
        <tr>
            <th>Topics</th>
            <th>Topic ID</th>
        </tr>
    </thead>
    <tbody>
        {% for item in titles_info %}
        <tr>
            <td><a href="{{item.topic_name}}">{{ item.topic_name }}</a></td>
            <td>{{ item.topic_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}



