{% extends "base.html" %}

{% block content %}

<h3> Topic : {{topic}} </h3>
<nav>
    <ol>
        <li><a href="/">home</a> </li>
        <li><a href="/{{topic}}">{{topic}}</a></li>
        <li> <a href="">{{topic_name}}</a></li>
        <li>submit code</li>
    </ol>
</nav>

<hr>
<section>
<h4> Topic Detail :  </h4>
<b>{{one_question.title}} </b>
<h5>Enunciado: </h5>
{{one_question.stem | safe}}
<br><br>
<table border="1">
        <tr>
            <th>Input Sample</th>
            <th>Output Sample</th>
        </tr>
        <tr>
            <td> </td>
            <td>Hello Word!!!</td>
        </tr>
    </table>
<br>
<a href="">Outro Problema</a>
<hr>
</section>
<br>

<section>
    <h5>Problem: {{one_question.topic_id}} | Question : </h5>
    <form  method="POST" action="{% url 'source_code' topic=topic topic_name=topic_name problem_id=problem_id  %}">
        {% csrf_token %}
        <textarea name="code_submission"  placeholder="Write your code here..."></textarea>
        <input type="submit" value="Submit Code">
    </form>{one_question.problem_id}}  | Language: Python 3.12.3

<br><br><br>
</section>


<hr>
{{one_question | safe}}
<h3> All Questions :  </h3>
 {{all_questions }}

{% endblock %}



