{% extends "base.html" %}

{% block content %}









 <el-breadcrumb separator="/">
    <el-breadcrumb-item :to="{ path: '/' }">Home</el-breadcrumb-item>
    <el-breadcrumb-item :to="{ path: '/' }">{{topic}}</el-breadcrumb-item>
    <el-breadcrumb-item :to="{ path: '/' }">{{title_name}}</el-breadcrumb-item>
    <el-breadcrumb-item>Submit Code</el-breadcrumb-item>
  </el-breadcrumb>
<el-divider content-position="left">Read the statement</el-divider>

<el-row class="row-bg"  >
    <el-col :span="14">
        <el-card style="max-width: 95%">
            <h4>Questão : </h4>
            <el-text>
                {{one_question.stem | safe}}
            </el-text>
            <br><br>
            <el-button type="primary" plain >Other Problem</el-button>

        </el-card>
    </el-col>

    <el-col :span="10">
        <el-card style="max-width: 480px">
            <el-text>
                Problem : 1202
                <el-divider direction="vertical"></el-divider>
                Question : 1690
                <el-divider direction="vertical"></el-divider>
                Python 3.12.3
            </el-text>
            <el-divider ></el-divider>

            <el-form :model="form" >
                <el-form-item>
                    <el-input type="textarea" v-model="form.text" placeholder="Write your code here..."></el-input>
                </el-form-item>
            </el-form>
            <el-button type="success" plain >Submit Code</el-button>
        </el-card>
    </el-col>
</el-row>


<br><br>
<el-divider ></el-divider>
<br><br>

<h4> All Problems : </h4>
        {% for key, question in all_questions.items%}
                <p> Title : {{question.title}} </p>
                <p> Topic Name : {{key}} | Topic ID {{key}} | Problem ID {{key}}</p>
                <p> Stem : {{question.stem | safe}} </p>
        {% endfor %}


<br><br><br><br>

{{all_questions}}

{% endblock %}


