{% extends "base.html" %}

{% block content %}

<h3> Topic : {{topic}} </h3>
<nav>
    <ol>
        <li><a href="/">home</a> </li>
        <li><a href="/{{topic}}">{{topic}}</a></li>
        <li> <a href="">{{topic_name}}</a></li>
        <li>submit code</li>
    </ol>
</nav>

<hr>
<section>
<h4> Topic Detail :  </h4>
<b>{{one_question.title}} </b>
<h5>Enunciado: </h5>
{{one_question.stem | safe}}
<br><br>
<table border="1">
        <tr>
            <th>Input Sample</th>
            <th>Output Sample</th>
        </tr>
        <tr>
        <td>
            {% for expected_input in one_question.input_expected|slice:":3"%}
                {{ expected_input }} <br>
            {% endfor %}
        </td>
        <td>
            {% for expected_output in one_question.output_expected|slice:":3" %}
                {{ expected_output }} <br>
            {% endfor %}
        </td>
    </tr>
    </table>
<br>
<a href="">Outro Problema</a>
<hr>
</section>
<br>

<section>
    <h5>Problem: {{one_question.topic_id}} | Question :  {{one_question.problem_id}}  | Language: Python 3.12.3 </h5>
    <form  method="POST" action="{% url 'source_code' topic=topic topic_name=topic_name problem_id=problem_id  %}">
        {% csrf_token %}
        <textarea name="code_submission"  placeholder="Write your code here..."></textarea>
        <input type="submit" value="Submit Code">
    </form>

<br><br><br>
</section>


<hr> <br><br><br><br><br><br>
<h4>One Question JSON :</h4>
{{one_question | safe}}

<br><br><br>
<h3> All Questions JSON :  </h3>
 {{all_questions | safe }}

{% endblock %}



